{% extends 'base.html' %}

{% block title %}
    Leagues
{% endblock %}

{% block content %}
  <div class= "leagues"  >
    <div class="a-box" >
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="/static/league_pictures/laliga.png">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>LaLiga</h3>
        <div>
          Country: Spain <br>
          Founded: 1929 <br>
          Top Goalscorer: Lionel Messi (474) <br>
          Most Championships: Real Madrid  <br>
          (35)
        </div>
      </div>
    </div>

    <div class="a-box">
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="/static/league_pictures/premierleague.png">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>Premier League</h3>
        <div>
          Country: England <br>
          Founded: 1992 <br>
          Top Goalscorer: Alan Shearer (260) <br>
          Most Championships: Manchester United (20) <br>
        </div>
      </div>
    </div>

    <div class="a-box">
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="/static/league_pictures/seriea.png">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>Serie A</h3>
        <div>
          Country: Italy <br>
          Founded: 1898 <br>
          Top Goalscorer: Silvio Piola (274) <br>
          Most Championships: Juventus  <br>
          (36)
        </div>
      </div>
    </div>

    <div class="a-box">
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="/static/league_pictures/ligue1.png">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>Ligue 1</h3>
        <div>
          Country: France <br>
          Founded: 1932 <br>
          Top Goalscorer: Delio Onnis (300) <br>
          Most Championships: Paris Saint-Germain (10) <br>
        </div>
      </div>
    </div>

    <div class="a-box">
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="/static/league_pictures/bundesliga.png">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>BundesLiga</h3>
        <div>
          Country: Germany <br>
          Founded: 1963 <br>
          Top Goalscorer: Gerd Müller (365) <br>
          Most Championships: Bayern Munich (31) <br>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
