{% extends 'base.html' %}

{% block title %}
    Football
{% endblock %}

{% block content %}

<div  class="position-absolute top-50 start-50 translate-middle">

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}


    <p style="margin-bottom:80px;margin-left: 100px; font-size:55px; color: limegreen " > WELCOME TO LEAGUE STANDINGS </p>
<form method="post" action="{{ url_for('table') }}">
    <div class="form-group">
        <div class="input-group">
            <select name="League" style="width:1200px" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">

              <option value="random" selected>Select League</option>
              <option value="PremierLeague">Premier League</option>
              <option value="SerieA">Serie A</option>
              <option value="Ligue1">Ligue 1</option>
              <option value="Laliga">LaLiga</option>
              <option value="Bundesliga">Bundesliga</option>
            </select>

            <select  name="Season" class="form-select form-select-md" aria-label=".form-select-sm example">
              <option value="random1" selected>Select Season</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>


        </div>



{#        <a  href="{{ url_for('index') }}">#}
        <button style="margin-left: 290px; margin-top: 20px; width: 40%; height: 50px" type="submit" class="btn btn-success">SEARCH</button>
{#        </a>#}
    </div>

</form>

</div>





{% endblock %}