{% extends "base.html" %}

{% block title %}
    Results
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped">
 <h1 style="text-align: center; font-weight: bold; color: limegreen; font-size: 22px; margin-bottom: 10px">
    {{ league }}: {{ season }}</h1>

    <tr class="table-success">
        <th style="color: white; font-weight: bolder" scope="col">Team Position</th>
        <th style="color: white; font-weight: bolder" scope="col">Team Name</th>
        <th style="color: white; font-weight: bolder" scope="col">Points</th>
        <th style="color: white; font-weight: bolder" scope="col">Games Played</th>
        <th style="color: limegreen" scope="col">Win</th>
        <th style="color: gold" scope="col">Draw</th>
        <th style="color: crimson" scope="col">Lose</th>
        <th style="color: white; font-weight: bolder" scope="col">Goals Scored</th>
        <th style="color: white; font-weight: bolder" scope="col">Goals Concerned</th>
    </tr>
    {% for each in info|sort(attribute='Team_Position') %}

        <tr>
            <td>{{ each.Team_Position }}</td>
            <td>{{ each.Name }}</td>
            <td>{{ each.Points }}</td>
            <td>{{ each.Games_Played }}</td>
            <td>{{ each.Win }}</td>
            <td>{{ each.Draw }}</td>
            <td>{{ each.Lose }}</td>
            <td>{{ each.Goals_Scored }}</td>
            <td>{{ each.Goals_Concerned }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}